:root {
    --blue: #1883d5;
    --dark: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    background: linear-gradient(to left, var(--blue), var(--dark));
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.container {
    width: 66%;
    height: 66%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to left top, rgba(0,0,0,0.75), rgba(0,0,0,0.25));
    padding: 32px 92px;
    border-radius: 20px;
    position: absolute;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}


.container a {
    display: inline-block;
}

.roadmap {
    margin-top: 10vh;
}

.roadmap a {
    
    text-decoration: none;
    background: linear-gradient(to right, #ff00ff, #0080ff);
    -webkit-background-clip: text; /* dla przeglądarek opartych na silniku WebKit */
    color: transparent;
}

@media (orientation: portrait) {
    
    .container {
    width: 90%;
    height: 60%;
    padding: 20px;
    }


}