:root {
    --main: #4d425a;
    --dark: #1b1b1b;
    --dark_green: #e0631b;
    --pink: #fd00da;
    --light_blue: #19d7f8;
    --light_gray: #ecebeb4a;
}
* {
    /*margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
}

body {
    background:#4d425a;
    width: 100vw;
    height: 100vh;
    max-height: 1000vh;
    display: flex;
    background: linear-gradient(to bottom left, var(--main), var(--dark));
}

.main_box{
    color: black;
    height: 10%;
    width: 100%;
    max-width: 100%;
    border: #111 solid;
}

.main_box ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main_box ul li {
    font-size: 150%;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    cursor: pointer;
}

.abt_me {
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, var(--dark), var(--main)), radial-gradient(circle at top left, var(--pink), var(--light_blue));
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.abt_me span {
    padding: 8px 22px;
}

.github-btn img{
    margin-top: -25%;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to bottom, var(--main), var(--light_gray));
    border-radius: 50px;
}

.contact {
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, var(--main), var(--dark)), radial-gradient(circle at top left, var(--light_blue), var(--pink));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.contact span {
    padding: 8px 22px;
}

.right_box {
    position: absolute;
    margin-top: 100px;
    color: black;
    height: auto;
    width: 25%;
    border: #111 solid;
}
.right_box h1 {
    color: rgb(42, 92, 240);
}