:root {
    --main: #4d425a;
    --dark: #1b1b1b;
    --dark_green: #e0631b;
    --pink: #fd00da;
    --light_blue: #19d7f8;
    --light_gray: #ecebeb4a;
}
* {
    /*margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
}

body {
    background: linear-gradient(to bottom left, var(--main), var(--dark));
    height: 100vh;
    width: 100vw;
    display: inline-block;
    overflow: hidden;
}

.main_box{
    width: 99vw;
    height: 9vh;
    color: black;
    /*border: #111 solid;*/
}

.main_box ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main_box ul li {
    font-size: 150%;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    cursor: pointer;
}

.abt_me {
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, var(--dark), var(--main)), radial-gradient(circle at top left, var(--pink), var(--light_blue));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.abt_me span {
    padding: 8px 22px;
}

.contact {
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, var(--main), var(--dark)), radial-gradient(circle at top left, var(--light_blue), var(--pink));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.contact span {
    padding: 8px 22px;
}


.github-btn img{
    margin-top: -20%;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to bottom, var(--main), var(--light_gray));
    border-radius: 50px;
}

.github-btn img p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

/* NIE RUSZCAĆ */
.container2 {
    display: flex;
    margin-top: 1vh;
    
}
.right_box {
    margin-left: 100px;
    height: 80%;
    width: 25%;
    /*border: #111 solid;*/
    color: white;
    font-size: 125%;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

.icons img{
    height: 15%;
    width: 15%;
    display: inline-block;
    max-width: 25%;
    margin: 2px;
}

.big_window {
    margin-left: 1vh;
    /*border: #000 solid;*/
    height: 78vh;
    width: 73vw;
    display: flex;
    justify-content: center;
}

.big_window img {
    border: black solid;
}

.return {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*border: #111 solid;*/
    text-align: center;
    
}

.return a {
    color: rgba(255, 255, 255, 0.773);
    font-size: 125%;
    text-decoration: none;
}
